nav#dot-nav {
  position: fixed;
  right: $columnSeparation;
  top: 20%;
  z-index: 10;

  a {
    border: .2rem solid $red-color;
    border-radius: 50%;
    width: .8rem;
    height: .8rem;
    display: block;
    margin: 1rem;
    transition: all .4; 
  
    &.active {
      background: $red-color; 
    }
  } 
}

.greyed,
.coloured {
  position: relative;
  background-color: $bg-grey-color;
  background: linear-gradient(-45deg, $grey-color, $bg-grey-color, $bg-footer-color, $border-separation-color, #fff);
  background-size: 500% 500%;
  animation: bg 15s ease infinite;

  .particles {
    > canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }
  }

  .title {
    font: normal $fontWeightMedium 2.5rem/1.5 $primaryFont;

    @media only screen and (min-width: $breakpoint-md) {
      font: normal $fontWeightMedium 3.5rem/1.5 $primaryFont;
      width: 65%;
    }
  }

  .article__cont__cols {
    font-weight: 300;
    
    a {
      color: #fff;
    }
  }
}

.container {
  position: relative;
  box-sizing: border-box;
  padding: $columnSeparation;

  @media only screen and (min-width: $breakpoint-md) {
    padding: $columnSeparationLarge;
  }

  &.container--home {
    background-color: $bg-footer-color;
  }

  &.container--greyed {
    background-color: $bg-grey-color;
    background: linear-gradient(-45deg, $grey-color, $bg-grey-color, $bg-footer-color, $border-separation-color, #fff);
    background-size: 500% 500%;
    animation: bg 15s ease infinite;
  }

  &.container--post {
    padding: $columnSeparation;
    padding-top: 32vh;

    @media only screen and (min-width: $breakpoint-md) {
      padding: $columnSeparationLarge;
      padding-top: 35vh;
    }
  }

  &.container--foot {
    background: rgba(0,0,0,.6);
    
    .about__home { 
      .about__home__claim {
        background: -webkit-linear-gradient(45deg, $red-color,$red-b-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .about__home__cont {
        &,
        a {
          color: white;
        }
      }
    }
  }

  &.container--video {
    overflow: hidden;

    &:before {
      background: rgba(0,0,0,.6);
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
    }

    > video {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      min-height: 100vh;
      min-width: 100%;

      @media only screen and (min-width: $breakpoint-xl) {
       // height: auto;
      //  width: 100%;
      }
    }
  }

  &.container--customers {
    background-size: 500% 500%;
    animation: bg 15s ease infinite;
    background: linear-gradient(-45deg, #ffe600, #ffe600, #ffe600e0, #e6db74, #ecfb06);
    overflow: hidden;

    &:before,
    &:after {
      width: 15rem;
      height: 15rem;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(20%, -50%) rotate(45deg);
      z-index: 0;
      background-color: $blue-color;

      @media only screen and (min-width: $breakpoint-md) {
        content: "";
      }
    }

    &:after {
      border-radius: 50%;
      background-color: $red-b-color;
      transform: translate(-50%, -50%) rotate(0);
    }
  }

  .container__title {
    font: normal 700 2rem $primaryFont;
    color: $second-color;
    text-transform: uppercase;
    flex-grow: 1;
    max-width: $max-container-width;
    margin: 0 auto 2rem;
    font-size: 2.5rem;

    @media only screen and (min-width: $breakpoint-md) {
      font-size: 3.5rem;
    }

    .count {
      font-size: 70%;
      font-weight: 400;
      color: #ccc;
    }
  }

  .particles {
    > canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.home-profile {  
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight} * 2);
  max-width: 100%;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  max-width: $max-container-width;
  margin: 0 auto $columnSeparationLarge;

  @media only screen and (min-width: $breakpoint-md) {
    //min-height: min-height: calc(100vh - #{$headerHeight} - #{$footerHeight} * 2);;
  }

 /* @media only screen and (min-width: $breakpoint-xxl) {
    max-width: $max-container-width;
  }*/

  &.home-profile--inner {
    height: auto;
    min-height: 0;   

    @media only screen and (min-width: $breakpoint-md) {
      //width: 65%;
      margin-bottom: 5rem;
    }
  }

  .home-profile-who {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font: normal 300 $fontSize3/1.25 $primaryFont;
    position: relative;
    z-index: 1;

    @media only screen and (min-width: $breakpoint-md) {
      font-size: $fontSize4;
    }

    &:before,
    &:after {
     // content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: -1;
      width: 10rem;
      height: 10rem;
      background-color: $yellow-color;

      @media only screen and (min-width: $breakpoint-lg) {
        width: 13rem;
        height: 13rem;
      }
    }
  
    &:after {
      background-color: $third-color;
      transform: translate(-15%, -15%);
    } 

    .home-profile-avatar {
      position: relative;
      max-width: 9rem;
      border-radius: 50%;
      margin-bottom: $columnSeparation * 2;
      overflow: hidden;

      @media only screen and (min-width: $breakpoint-md) {
        margin-bottom: $columnSeparation * 2;
      }

      @media only screen and (min-width: $breakpoint-lg) {
        max-width: 12.5rem;
      }
    }

    h1,
    h2 {
      font: normal $fontWeightMedium $fontSize4/1.25 $primaryFont;
      margin: 0 0 .25em;

      @media only screen and (min-width: $breakpoint-md) {
        font-size: $fontSize5;
      }
    }

    h1 {
      margin-bottom: 0;
    }

    /*h2 {
      font: normal $fontWeightMedium $fontSize5/1.25 $primaryFont;
      margin: 0 0 .5em;

      @media only screen and (min-width: $breakpoint-md) {
        font-size: $fontSize6;
      }
    }*/

    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $blue-color;
    }

    .who__links {
      margin: 2rem 0 0;

      a {
        text-decoration: none;
        background-color: $red-color;
        color: #fff;
        padding: .25em .5rem;
        margin: .5rem 1rem .5rem 0;
        display: inline-block;
        border-radius: .5rem;
        position: relative;
        top: 0;
        transition: top ease-in-out .2s;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background-color: $red-b-color;
          top: -.15rem;
        }
      }
    }
  }

  .home-profile-game {
    display: none;
    align-self: center;
    width: 50%;
    height: 100%;
    position: relative;

    @media only screen and (min-width: $breakpoint-md) {
      display: block;
      margin-left: $columnSeparationLarge;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      left: 5rem;
      bottom: 5rem;
      background-color: $yellow-color;
    }

    > canvas {
      position: relative;
      z-index: 1;
      background-color: #0e2439;
      margin: 5rem 5rem 0 0;
    }

    .score-board {
      display: none;
      position: absolute;
      top: 0;
      right: 1.5rem;
      color: $red-color;
      font: normal 700 4.5rem $primaryFont;

      @media only screen and (min-width: $breakpoint-md) {
        display: block;
      }

      &:before {
        //content: "Score: ";
        text-transform: uppercase;
        font-size: 50%;
        position: relative;
        top: -.7rem;
      }
    }
  }
}

.brands {
  .brands__tit {
    margin: $columnSeparation auto $columnSeparation * 2;
    text-align: center;
    font: normal $fontWeightLight $fontSize5/1.25 $primaryFont;
    color: #2f2b03;

    @media only screen and (min-width: $breakpoint-md) {
      font-size: $fontSize6;
      margin: $columnSeparationLarge auto $columnSeparationLarge * 2;
    }

    > strong {
      font: normal $fontWeightBold $fontSize6/1 $primaryFont;
      text-transform: uppercase;
      display: block;
      color: $red-color;
      
      @media only screen and (min-width: $breakpoint-md) {
        font-size: $fontSize7;
      }
    }
  }
  .brands__logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
    max-width: $max-container-width;
    margin: 0 auto $columnSeparationLarge -.5rem;

    @media only screen and (min-width: $breakpoint-sm) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
      margin: 0 auto $columnSeparationLarge;
    }

    @media only screen and (min-width: $breakpoint-md) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (min-width: $breakpoint-xl) {
    //grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
    .logo {
      margin: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.portfolio__home {
  position: relative;
  max-width: $max-container-width;
  margin: 0 auto;
  display: block;
  /*background: linear-gradient(-45deg, $grey-color, lighten($bg-grey-color, 10%), lighten($bg-grey-color, 5%), #fff);
  background-size: 500% 500%;
  animation: bg 15s ease infinite;*/

  @media only screen and (min-width: $breakpoint-md) {
    display: flex;
  }

 /* &:after {
    @media only screen and (min-width: $breakpoint-md) {
      content: "";
      position: absolute;
      background-color: $blue-color;
      top: 0;
      right: 0;
      bottom: 0;
      left: 25%;
      z-index: -1;
    }
  }*/
  
  .portfolio__home__tit {
    margin: $columnSeparation auto $columnSeparation * 2;
    text-align: center;
    font: normal $fontWeightLight $fontSize5/1.25 $primaryFont;
    color: #fff;

    @media only screen and (min-width: $breakpoint-md) {
      text-align: left;
      font-size: $fontSize6;
      margin: $columnSeparationLarge $columnSeparation $columnSeparationLarge * 2 0;
      width: 33%;
      flex-grow: 0;
    }

    > strong {
      font: normal $fontWeightBold $fontSize6/1.25 $primaryFont;;
      text-transform: uppercase;
      display: block;
      color: $red-color;

      @media only screen and (min-width: $breakpoint-md) {
        font-size: $fontSize7;
      }
    }
  }

  .portfolio__wrapper {
    @media only screen and (min-width: $breakpoint-md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-grow: 1;
      position: relative;
      padding: $columnSeparationLarge $columnSeparation $columnSeparation $columnSeparation;
    }

    .work {
      margin: 0 0 $columnSeparationLarge;

      @media only screen and (min-width: $breakpoint-md) {
        flex: 0 49%;
      }
      
      .gatsby-image-wrapper {
        overflow: hidden;
        border-radius: .25rem;
        box-shadow: 0 0 .5rem .2rem rgba(0,0,0,.35);
      }
    }
  }
}

.container__home {
  overflow: hidden;
  
  &:before,
  &:after {
    content: none;
    width: 15rem;
    height: 15rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(20%, 50%) rotate(45deg);
    z-index: 0;
    background-color: $blue-color;

    @media only screen and (min-width: $breakpoint-lg) {
      content: "";
    }
  }

  &:after {
    border-radius: 50%;
    background-color: $cyan-color;
    transform: translate(-50%, 50%) rotate(0);
  }
}

.about__home { 
  @media only screen and (min-width: $breakpoint-lg) {
    padding: 3rem;
    display: flex;
  }

  .about__home__claim {
    font: normal $fontWeightBold $fontSize2/1.125 $primaryFont;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 2rem;
    /*background: -webkit-linear-gradient(#1e3799, #0c2461);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/

    @media only screen and (min-width: $breakpoint-lg) {
      font-size: $fontSize3;
      margin: 0 0 3rem;
      width: 30%;
      text-align: justify;
      font-weight: 700;
    }

    $s1: calc(100% / (8/9));
    $s2: calc(#{$s1} / (8/9));
    $s3: calc(#{$s2} / (8/9));
    $s4: calc(#{$s3} / (8/9));

    .size-1 {
      font-size: $s1;
      font-weight: 100;
    }
    .size-2 {
      font-size: $s2;
    }
    .size-3 {
      font-size: $s3;
    }
    .size-4 {
      font-size: $s4;
      font-weight: 900;
    }
  }

  .about__home__cont {
    color: #fff;
    column-count: 0;
    font: normal $fontWeightLight $fontSize2/1.5 $primaryFont;    

    @media only screen and (min-width: $breakpoint-lg) {
      font-size: $fontSize3;
      column-count: 2;
      column-gap: 2rem;
      text-align: justify;
      margin: 0 auto;
      width: 60%;
    }

    a {
      color: #fff;
      font-weight: 500;
    }
  }
}