.container {
  font: normal 100 2.1rem $primaryFont;
  padding: 2rem;
  box-sizing: border-box;
  background-color: $headerColor;
  color: $tertiary-color;
  position: relative;
  z-index: 1;
  flex-grow: 2;  

  @media only screen and (min-width: $breakpoint-md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .particles {
    > canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  a {
    text-decoration: underline;
    color:$tertiary-color;

    &:hover {
      color: $quinary-color;
    }
  }

  .container__title {
    font: normal 100 2rem $primaryFont;
    margin: 0 0 2rem;
    color: #fff;
    text-transform: uppercase;
    flex-grow: 1;

    em {
      font-style: italic;
    }

    strong {
      font-weight: 700;
    }

    .count {
      font-size: 85%;
      color: $quinary-color;;
    }
  }
}

.header-home {
  position: relative;
  font: normal 100 1.7rem $primaryFont;  
  color: $tertiary-color;
  background-color: $headerColor;
  background-attachment: fixed;
  padding: 2rem;
  box-sizing: border-box;

  @media only screen and (min-width: $breakpoint-md) {
    height: calc(100vh - 65px);
  }

  display: block;
  z-index: 1;

  .particles {
    > canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  
  .who {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    position: relative;

    @media only screen and (min-width: $breakpoint-md) {
     width: 60%;
    }

    h1 {
      strong {
        color: $secondary-color;

        @media only screen and (min-width: $breakpoint-md) {
          color: #fff;
        }
      }
    }

    p {
      margin-bottom: 1.4rem;

      &:last-child {
        //margin-bottom: 0;
      }
    }

    a {
      color: $secondary-color;
    }

    .who__links {
      a {
        margin: .5rem 1rem .5rem 0;
        display: inline-block;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  h1 {
    font: normal 400 2.7rem $primaryFont;
    margin: 0 0 1rem;
    color: #fff;
  }

  h2 {
    font: normal 400 2rem $primaryFont;
    margin: 0 0 1rem;
    color: #fff;
  }

  h3 {
    font: normal 300 2rem $primaryFont;
    margin: 0 0 1rem;
    color: $quinary-color;
  }

  h1, h2, h3 {
    strong {
      color: $secondary-color;
    }
  }

  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;

    .score-board {
      display: none;
      position: absolute;
      top: 2rem;
      right: 4rem;
      color: darken($headerColor, 5%);
      font: normal 700 5rem $primaryFont;

      @media only screen and (min-width: $breakpoint-md) {
        display: block;
      }
    }
  }
} // .header-home

#snake-canvas {
  display: none;

  @media only screen and (min-width: $breakpoint-md) {
    display: block;
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 50%;
    z-index: 0;
  }
}

.section__map {
  position: relative;
  width: 100%;
  height: 55.5rem;
  //background-color: $primary-color;
}