.footer {
  text-align: center;
  padding: 1.5rem $columnSeparation;
  font: normal $fontWeightLight $fontSize1/1.25 $primaryFont;
  background-color: $bg-footer-color;
  color: $content-color;
  min-height: $footerHeight;
  box-sizing: border-box;
  border-top: .1rem solid $border-separation-color;

  @media only screen and (min-width: $breakpoint-md) {
    padding: 1.5rem $columnSeparationLarge;
    font-size: $fontSize2;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2.1rem;
    left:0;
    right: 0;
    height: 2rem;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,.5), rgba(0,0,0,.0));
  }

  a {
    color: $content-color;
    text-decoration: underline;
  }

  &.footer--home {
    border-color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;

    a {
      color: #fff;
    }
  }
}
