.header-home {
  font: normal 100 1.7rem $primaryFont;  
  color: $tertiary-color;
  background-color: $headerColor;
  background-attachment: fixed;
  border: 2rem solid darken($headerColor, 2%);
  padding: 2rem;
  box-sizing: border-box;

  @media only screen and (min-width: $breakpoint-md) {
    height: 100vh;
  }

  display: block;
  z-index: 1;
  
  .who {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    position: relative;

    h1 {
      strong {
        color: $secondary-color;

        @media only screen and (min-width: $breakpoint-md) {
          color: #fff;
        }
      }
    }

    p {
      margin-bottom: 1.4rem;

      &:last-child {
        //margin-bottom: 0;
      }
    }

    a {
      color: $secondary-color;
    }

    .who__links {
      a {
        margin: .5rem 1rem .5rem 0;
        display: inline-block;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  h1 {
    font: normal 400 2.7rem $primaryFont;
    margin: 0 0 1rem;
    color: #fff;
  }

  h2 {
    font: normal 700 2rem $primaryFont;
    margin: 0 0 1rem;
    color: #fff;
  }

  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;

    .score-board {
      display: none;
      position: absolute;
      top: 2rem;
      right: 4rem;
      color: darken($headerColor, 5%);
      font: normal 700 5rem $primaryFont;

      @media only screen and (min-width: $breakpoint-md) {
        display: block;
      }
    }
  }
} // .header-home

.header {
  font: normal 100 1.7rem $primaryFont;
  color: $tertiary-color;
  background-color: $quaternary-color;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  z-index: 2;

  .header__logo {
    font-size: 2rem;
    font-weight: 500;

    a {
      text-decoration: none;
      color: $secondary-color;
    }
  }

  .header__container {
    font: normal 700 2rem $primaryFont;
    margin: 0 0 1rem;
  }

  .header__nav {
    display: none;

    @media only screen and (min-width: $breakpoint-md) {
      display: block;
    }

    > ul {
      display: inline;

      > li {
        display: inline-block;

        > a {
          display: inline-block;
          padding: 0 1rem;
          text-decoration: underline;
          color: $quinary-color;

          &.active {
            color: $tertiary-color;
            text-decoration: none;
            cursor: default;
          }
        }
      }
    }

    &.header__nav--opened {
      display: flex;
      position: absolute;
      top: 150%; // bellow header
      right: 2rem;
      text-align: right;
      font: normal 500 2.5rem/1 $primaryFont;
      

      > ul {
        display: block;

        > li {
          display: block;
          margin-bottom: $columnSeparation;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            color: $tertiary-color;;
          }
        }
      }
    }
  }

  .header__mobilebtn {
    position: absolute;
    border: none;
    text-indent: -9999999px;
    top: 3rem;
    right: 2rem;
    cursor: pointer;
    transform-origin: center;

    &,
    &:before,
    &:after {
      width: 2.7rem;
      height: .3rem;
      background: $headerColor;
      display: block;
      transition: .5s ease-in-out;

      @media only screen and (min-width: $breakpoint-md) {
        display: none;
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
    }

    &:before {
      content: "";
      top: -.7rem;
    }

    &:after {
      top: .7rem;
    }

    &.header__mobilebtn--opened {
      display: block;
      transform: rotate(45deg);
      box-shadow: 0 0 0 200vw $headerColor, 0 0 0 200vh $headerColor;

      &,
      &:before,
      &:after {
        background: $tertiary-color;
      }

      &:before,
      &:after {
        transform: rotate(90deg);
        top: 0;
      }
    }
  } // .header__mobilebtn 
} //header
